p {
  font-size: 12pt;
  font-family: arial, helvetica, roboto, "new times roman", lato;
  font-weight: normal;
}

h1 {
  font-size: x-large;
  color: #222;
  font-family: verdana, arial;
  text-align: center;
  /*background-color: Teal;*/
}

td {
  font-size: 10pt;
  font-family: verdana, arial;
  text-align: center;
  background-color: 666666;
}

body {
  /*background-color: #dfbc96; */
  background-color: #e2dcdc;
  font-family: arial;
  color: rgb(7, 6, 6);
  margin: 5% 2% 5% 2%;
}

/* -------------------------      Imágenes       --------------------- */

img {
  width: 100%;
}

.imgProducto {
  width: 50%;
}

/* -------------------------      Párrafos        --------------------- */

.parrafo {
  line-height: 1.5;
  text-indent: 2em;
}

/* -------------------------      Header        --------------------- */

header {
  text-align: center;
  background-color: #833941;
  height: 250px;
  width: 100%;
}

.encabezado {
  display: flex;
  justify-content: space-around;
}
.encabezado {
  border: sienna;
}

/* -------------------------      Pie de página        --------------------- */
footer {
  text-align: center;
  background-color: #833941;
  height: 75px;
  width: 100%;
}

.pie {
  display: flex;
  justify-content: space-around;
}
.pie {
  border: sienna;
}
/* -------------------------            Menu          --------------------- */

nav {
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 75vw;
  min-width: 320px;
  height: 200px;
}

nav h2 {
  border-radius: 2px;
  position: relative;
  background: #833941;
  height: 40px;
  text-transform: uppercase;
  color: #dbd2d2; /*valor previo: ivory*/
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

nav:hover h2 {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
}
nav:hover:active h2 {
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.35);
}

input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

#toggle:checked ~ ul {
  height: 0%;
}

nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all 0.4s ease-out;
  height: 100%;
}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: #833941;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

nav ul li:hover {
  background: #b25351;
  transition: background 0.45s;
}

nav ul a {
  display: block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color 0.3s;
}

/* -------------------------            Tablas          --------------------- */

tbody tr:nth-child(odd) {
  background-color: #ac504b;
}

tbody tr:nth-child(even) {
  background-color: #cc644a;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: #7f363e;
}

table #navegacion {
  background-color: #777070;
}

/* -------------------------            Tablas  menu fases        --------------------- */
.navegacion td {
  background-color: #7f363e;
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 50vw;
  min-width: 100px;
  height: 50px;
}

.navegacion:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
}
.navegacion:hover:active {
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.35);
}

.navegacion td:hover {
  background: #b25351;
  transition: background 0.45s;
}

.navegacion td {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all 0.4s ease-out;
  height: 100%;
}

.navegacion td tr {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: #833941;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

.navegacion td tr:hover {
  background: #b25351;
  transition: background 0.45s;
}

.navegacion td a {
  display: block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color 0.3s;
}

/* -------------------------            Cajas      --------------------- */

.cajaIzq {
  border: 0.3em solid #833941;
  background-color: #b25351;
  color: #222;
  padding: 0.2em;
  margin: 5% 2% 5% 2%;
  border-radius: 1em;
}

.cajaDer {
  border: 0.3em solid #833941;
  background-color: #cc644a;
  padding: 0.2em;
  margin: 5% 2% 5% 2%;
  align-self: center;
}
